/* En App.css o App.module.css */
.btn {
  padding: 12px 24px;
  border-radius: 12px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn:hover {
  transform: translateY(-2px); 
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  filter: brightness(1.2); 
}

.sum {
  background-color: #043f50;
  color: white;
}


.calculator {
  background-color: #2a9d8f;
  color: white;
}

.search {
  background-color: #e9c46a;
  color: white;
}

.home {
  background-color: #e67e29;
  color: white;
}